@using Microsoft.AspNet.Identity
@if (Request.Cookies["id"] != null && Request.Cookies["carrito"] != null)
{
    <li class="nav-item" style="display: inline-block;">
        <a href="/Usuario/Details/@Request.Cookies["id"].Value" class="nav-link">Hola @Request.Cookies["id"].Value !</a>
    </li>
    <li class="nav-item" style="display: inline-block;"><a class="nav-link" onclick="borrar();" style="cursor: pointer;">Cerrar sesión</a></li>
    <!----> <li class="nav-item" style="display: inline-block;"><a class="nav-link" href="~/Cerveza/Carrito"><img src="https://img.icons8.com/material/24/000000/shopping-cart.png"><span id="carrito">(@(Request.Cookies["carrito"].Value.Split(',').Length-1))</span></a></li>
    <script>
        function borrar() {
            document.cookie = 'id=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            document.cookie = 'carrito=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            window.location.replace("/");
        }
    </script>

}
else
{
    if (Request.QueryString.Count > 0)
    {
        if (@Request.Params["id"] != null)
        {
            Response.Cookies["id"].Value = Request.Params["id"];
            Response.Cookies["id"].Expires = DateTime.Now.AddYears(1);
            Response.Cookies["carrito"].Value = "";
            Response.Cookies["carrito"].Expires = DateTime.Now.AddYears(1);

            <li class="nav-item" style="display: inline-block;">
                <a href="/Usuario/Details/@Request.Cookies["id"].Value" class="nav-link">Hola @Request.Cookies["id"].Value !</a>
            </li>
            <li class="nav-item" style="display: inline-block;"><a class="nav-link" onclick="borrar();" style="cursor: pointer;">Cerrar sesión</a></li>
            <li class="nav-item" style="display: inline-block;"><a class="nav-link" href="~/Usuario/Carrito"><img src="https://img.icons8.com/material/24/000000/shopping-cart.png"><span id="carrito">(@Request.Cookies["carrito"].Value.Split(',').Length)</span></a></li>
            <script>
                function borrar() {
                    document.cookie = 'id=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                    window.location.replace("/");
                }
            </script>


        }
        else
        {
            <li class="nav-item">@Html.ActionLink("Registrarse ", "Create", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Iniciar sesión", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>

        }
    }
    else
    {

        <li class="nav-item">@Html.ActionLink("Registrarse ", "Create", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Iniciar sesión", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>

    }

}

