@model CervezUAWeb.Models.UsuarioViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <h4 style="margin-top: 2em;">Tus Datos</h4>
    @if (Model.Tipo.ToString() == "Admin")
    {
        <button type="button" class="btn btn-secondary" onclick="location.href='/Administrador/Panel';">Panel de Administrador</button>
    }
    <button type="button" class="btn btn-primary" style="background-color: #FF6D3A" onclick="location.href='/Pedido/Pedidos';">Lista de Pedidos</button>



    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Foto) " alt="Alternate Text" style="width: 10%;" />
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecNam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecNam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>



    </dl>

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.NUsuario })
        <!--arroba Html.ActionLink("Back to List", "Index")-->
    </p>
</div>

