@model IEnumerable<CervezUAWeb.Models.UsuarioViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Lista de Usuario</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecNam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FecNam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Foto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>

                <td>
                    @Html.ActionLink("Convertir a Admin", "toAdmin", new { id = item.NUsuario, admin = 3 }) <br />
                    @Html.ActionLink("Convertir a Normal", "toAdmin", new { id = item.NUsuario, admin = 1 }) 
                    @Html.ActionLink("Convertir a Crítico", "toAdmin", new { id = item.NUsuario, admin = 2 })

                </td>
            </tr>
        }

    </table>
</div>

