@model IEnumerable<CervezUAWeb.Models.CervezaViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Carrito</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">
</head>
<body>
    <script>
        function borrar(id) {


            var galleta = getCookie("carrito");
            var nuevo = [];
            if (galleta != "") {
                galleta = JSON.parse(galleta);
                for (var i = 0; i < galleta.length; i++) {
                    if ((galleta[i])[0] == id) {
                        galleta[i] = "";
                        for (var i = 0; i < galleta.length; i++) {
                            if (galleta[i] != "") {
                                nuevo.push(galleta[i]);
                            }
                        }
                        break;
                    }
                }
                if (nuevo.length == 0) {
                    nuevo = "";
                } else {
                    nuevo = JSON.stringify(nuevo);
                }

                setCookie("carrito", nuevo, false);
                location.reload();
            }
        }
        function cantidad(id) {
            console.log('entro');
            var galleta = getCookie("carrito");
            galleta = JSON.parse(galleta);
            var cant = document.getElementById(id);
            for (var i = 0; i < galleta.length; i++) {
                if ((galleta[i])[0] == id) {
                    console.log((galleta[i])[1]);
                    cant.innerHTML = "x"+(galleta[i])[1];
                    break;
                }
            }
        }
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            console.log(decodedCookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    </script>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <h1 class="my-4">
            Tu Cesta:

        </h1>
        <!-- Items -->
        @if (Model != null)
        {
            foreach (var item in Model)
            {

                <div class="row" style="border-bottom: dotted 1px; margin: 1em;">
                    <div class="col-md-7">
                        <a href="#">
                            <img class="img-fluid rounded mb-3 mb-md-0" src="@Html.DisplayFor(modelItem => item.Imagen)" alt="" style="width: 20%;">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3>@Html.DisplayFor(modelItem => item.Nombre) <span id="@item.id" style="font-size: 17px;">1</span></h3>
                        <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                        <button class="btn btn-primary" onclick="borrar(@item.id);" style="margin-bottom: .5em;">Eliminar </button>
                    </div>
                </div>
                <script>cantidad(@item.id)</script>
            }
            <button class="btn btn-primary" style="background-color: #FF6D3A; margin: auto">Comprar </button>

        }


        <!-- /.row -->
        <hr>



    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>



