@model IEnumerable<CervezUAWeb.Models.PedidoViewModel>

@{
    ViewBag.Title = "Pedidos";
}

<div class="container">
    <h2>Pedidos:</h2>

    <table style="width:100%; border-bottom: solid; margin-bottom: 2em;">
        <tr>
            <th>Id</th>
            <th>Importe</th>
            <th>Dirección</th>
            <th>Método de Pago</th>
            <th>Estado</th>
            <th>Detalles</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Importe.00€</td>
            <td>@item.Direccion</td>
            <td>@item.MPago</td>
            <td>@item.Estado</td>
            <td><a href="@Url.Action("Lista", "LineaPedido/", new { @item.Id })">Ver</a> </td>
         </tr>
        }





    </table>
</div>


