@model IEnumerable<CervezUAWeb.Models.PedidoViewModel>

@{
    ViewBag.Title = "Pedidos";
}

<div class="container">
    <div class="alert alert-success " style="text-align: center;">
        <strong>Gracias por elegirnos</strong><br />
        Aqui podrás ver todos tus pedidos
    </div>
    <h2 style="margin-top: 1em;">Pedidos:</h2>

    <table style="width:100%; border-bottom: solid; margin-bottom: 2em;" class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Importe</th>
            <th>Dirección</th>
            <th>Método de Pago</th>
            <th>Estado</th>
            <th>Detalles</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Importe.00€</td>
            <td>@item.Direccion</td>
            <td>@item.MPago</td>
            <td>@item.Estado</td>
            <td><a href="@Url.Action("Lista", "LineaPedido/", new { @item.Id })">Ver</a> </td>
         </tr>
        }





    </table>
</div>


